# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output folders and intermediate files
output_images/
output/
*.log
*.npy
*.pt

# Model weights and checkpoints
checkpoint.pt
best.pt

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db


# Ignore Python virtual environment
venv/

# Python build artifacts
*.egg-info/
build/
dist/
__pycache__/
*.py[cod]
*.so